/*Primary*/

[bg-primary="B200"] {
  background-color: #0084f8;
}

[bg-primary="D400"] {
  background-color: #001b36;
}

[bg-primary="white"] {
  background-color: #ffffff;
}

/*Secondary*/

[bg-secondary="B100"] {
  background-color: #58c2f1;
}

[bg-secondary="R100"] {
  background-color: #ff8576;
}

[bg-secondary="G100"] {
  background-color: #47c2b1;
}

[bg-secondary="D100"] {
  background-color: #f0f5f9;
}

[bg-secondary="D200"] {
  background-color: #c9d6df;
}

[bg-secondary="D300"] {
  background-color: #52616b;
}

/*opacity*/

[opacity="0"]{
  opacity: 0;
}

[opacity="10"] {
  opacity: 0.1;
}

[opacity="20"] {
  opacity: 0.2;
}

[opacity="30"] {
  opacity: 0.3;
}

[opacity="40"] {
  opacity: 0.4;
}

[opacity="50"] {
  opacity: 0.5;
}

[opacity="60"] {
  opacity: 0.6;
}

[opacity="70"] {
  opacity: 0.7;
}

[opacity="80"] {
  opacity: 0.8;
}

[opacity="90"] {
  opacity: 0.9;
}

[opacity="100"] {
  opacity: 1;
}
