/*
typography
  --Font families
  --Links*
  --Other*
  --Headers
  --Paragraph

Color
  --Primary
  --Secondary
  --Gradients
  --Opacity
  --Tints
  --Shades

Shapes
  --Border
  --Style

Patterns
  --Svgs

Effects
  --Drop shadows
  --Layer blur
  --Background blur
  --Cover overlay 
*/

/*variables*/

:root {
  /*Primary Colors*/
  --B200: #0084f8;
  --D400: #001b36;
  --White: #ffffff;

  /*Secondary Colors*/
  --B100: #58c2f1;
  --R100: #ff8576;
  --G100: #47c2b1;
  --D100: #f0f5f9;
  --D200: #c9d6df;
  --D300: #52616b;
}
/*Font families*/

/*Open Sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

[open-sans] {
  font-family: "Open Sans", sans-serif;
}

[open-sans="light"] {
  font-weight: 300;
}

[open-sans="regular"] {
  font-weight: 400;
}

[open-sans="semi-bold"] {
  font-weight: 600;
}

[open-sans="bold"] {
  font-weight: 700;
}

[open-sans="extra-bold"] {
  font-weight: 800;
}

/*Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

[raleway] {
  font-family: "Raleway", sans-serif;
}

[raleway="light"] {
  font-weight: 300;
}

[raleway="medium"] {
  font-weight: 500;
}

[raleway="bold"] {
  font-weight: 700;
}

/*Links*/
a.link {
  font-size: 1rem;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: var(--B200);
  text-decoration: none;
  transition: all 0.3s;
}

a.link:hover {
  color: var(--B100);
}

/*Other*/
.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--D400);
}

/*Headers*/
.header {
  line-height: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.header > * {
  line-height: 100%;
}

.header h1 {
  font-size: 121pt;
  margin: 0;
}

.header h2 {
  font-size: 81pt;
  margin: 0;
}

.header h3 {
  font-size: 54pt;
  margin: 0;
}

.header h4 {
  font-size: 54pt;
  margin: 0;
}

.header h5 {
  font-size: 36pt;
  margin: 0;
}

/*paragraph*/

p[paragraph] {
  line-height: 125%;
  margin: 24pt 0;
  font-size: 16pt;
}

p[paragraph="big"] {
  font-size: 20pt;
}

/*Colors*/

/*Primary*/

.bg-b200 {
  background-color: var(--B200);
}

.bg-d400 {
  background-color: var(--D400);
}

.bg-white {
  background-color: var(--White);
}

/*Secondary*/

.bg-b100 {
  background-color: var(--B100);
}

.bg-r100 {
  background-color: var(--R100);
}

.bg-g100 {
  background-color: var(--G100);
}

.bg-d100 {
  background-color: var(--D100);
}

.bg-d200 {
  background-color: var(--D200);
}

.bg-d300 {
  background-color: var(--D300);
}

/*Gradients*/

.gradient-b200-d400 {
  background: linear-gradient(74.02deg, var(--B200) 9.02%, var(--D400) 90.81%);
}

.gradient-b200-b100 {
  background: linear-gradient(74.02deg, var(--B200) 9.02%, var(--B100) 90.81%);
}

.gradient-b200-r100 {
  background: linear-gradient(74.02deg, var(--B200) 9.02%, var(--R100) 90.81%);
}

/*opacity*/

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

/*Tints*/

/*B100*/

.tint-b100-90 {
  background-color: rgba(0, 132, 248, 0.9);
}

.tint-b100-80 {
  background-color: rgba(0, 132, 248, 0.8);
}

.tint-b100-70 {
  background-color: rgba(0, 132, 248, 0.7);
}

.tint-b100-60 {
  background-color: rgba(0, 132, 248, 0.6);
}

.tint-b100-50 {
  background-color: rgba(0, 132, 248, 0.5);
}

.tint-b100-40 {
  background-color: rgba(0, 132, 248, 0.4);
}

.tint-b100-30 {
  background-color: rgba(0, 132, 248, 0.3);
}

.tint-b100-20 {
  background-color: rgba(0, 132, 248, 0.2);
}

.tint-b100-10 {
  background-color: rgba(0, 132, 248, 0.1);
}

/*D400*/

.tint-d400-90 {
  background-color: rgba(0, 27, 54, 0.9);
}

.tint-d400-80 {
  background-color: rgba(0, 27, 54, 0.8);
}

.tint-d400-70 {
  background-color: rgba(0, 27, 54, 0.7);
}

.tint-d400-60 {
  background-color: rgba(0, 27, 54, 0.6);
}

.tint-d400-50 {
  background-color: rgba(0, 27, 54, 0.5);
}

.tint-d400-40 {
  background-color: rgba(0, 27, 54, 0.4);
}

.tint-d400-30 {
  background-color: rgba(0, 27, 54, 0.3);
}

.tint-d400-20 {
  background-color: rgba(0, 27, 54, 0.2);
}

.tint-d400-10 {
  background-color: rgba(0, 27, 54, 0.1);
}

/*withe*/

.tint-white-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.tint-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.tint-white-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.tint-white-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.tint-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.tint-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.tint-white-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.tint-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.tint-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

/*B100*/

.tint-b100-90 {
  background-color: rgba(88, 194, 241, 0.9);
}

.tint-b100-80 {
  background-color: rgba(88, 194, 241, 0.8);
}

.tint-b100-70 {
  background-color: rgba(88, 194, 241, 0.7);
}

.tint-b100-60 {
  background-color: rgba(88, 194, 241, 0.6);
}

.tint-b100-50 {
  background-color: rgba(88, 194, 241, 0.5);
}

.tint-b100-40 {
  background-color: rgba(88, 194, 241, 0.4);
}

.tint-b100-30 {
  background-color: rgba(88, 194, 241, 0.3);
}

.tint-b100-20 {
  background-color: rgba(88, 194, 241, 0.2);
}

.tint-b100-10 {
  background-color: rgba(88, 194, 241, 0.1);
}

/*R100*/

.tint-r100-90 {
  background-color: rgba(255, 133, 118, 0.9);
}

.tint-r100-80 {
  background-color: rgba(255, 133, 118, 0.8);
}

.tint-r100-70 {
  background-color: rgba(255, 133, 118, 0.7);
}

.tint-r100-60 {
  background-color: rgba(255, 133, 118, 0.6);
}

.tint-r100-50 {
  background-color: rgba(255, 133, 118, 0.5);
}

.tint-r100-40 {
  background-color: rgba(255, 133, 118, 0.4);
}

.tint-r100-30 {
  background-color: rgba(255, 133, 118, 0.3);
}

.tint-r100-20 {
  background-color: rgba(255, 133, 118, 0.2);
}

.tint-r100-10 {
  background-color: rgba(255, 133, 118, 0.1);
}

/*G100*/

.tint-g100-90 {
  background-color: rgba(71, 194, 177, 0.9);
}

.tint-g100-80 {
  background-color: rgba(71, 194, 177, 0.8);
}

.tint-g100-70 {
  background-color: rgba(71, 194, 177, 0.7);
}

.tint-g100-60 {
  background-color: rgba(71, 194, 177, 0.6);
}

.tint-g100-50 {
  background-color: rgba(71, 194, 177, 0.5);
}

.tint-g100-40 {
  background-color: rgba(71, 194, 177, 0.4);
}

.tint-g100-30 {
  background-color: rgba(71, 194, 177, 0.3);
}

.tint-g100-20 {
  background-color: rgba(71, 194, 177, 0.2);
}

.tint-g100-10 {
  background-color: rgba(71, 194, 177, 0.1);
}

/*D100*/

.tint-d100-90 {
  background-color: rgba(240, 245, 249, 0.9);
}

.tint-d100-80 {
  background-color: rgba(240, 245, 249, 0.8);
}

.tint-d100-70 {
  background-color: rgba(240, 245, 249, 0.7);
}

.tint-d100-60 {
  background-color: rgba(240, 245, 249, 0.6);
}

.tint-d100-50 {
  background-color: rgba(240, 245, 249, 0.5);
}

.tint-d100-40 {
  background-color: rgba(240, 245, 249, 0.4);
}

.tint-d100-30 {
  background-color: rgba(240, 245, 249, 0.3);
}

.tint-d100-20 {
  background-color: rgba(240, 245, 249, 0.2);
}

.tint-d100-10 {
  background-color: rgba(240, 245, 249, 0.1);
}

/*D200*/

.tint-d200-90 {
  background-color: rgba(201, 214, 223, 0.9);
}

.tint-d200-80 {
  background-color: rgba(201, 214, 223, 0.8);
}

.tint-d200-70 {
  background-color: rgba(201, 214, 223, 0.7);
}

.tint-d200-60 {
  background-color: rgba(201, 214, 223, 0.6);
}

.tint-d200-50 {
  background-color: rgba(201, 214, 223, 0.5);
}

.tint-d200-40 {
  background-color: rgba(201, 214, 223, 0.4);
}

.tint-d200-30 {
  background-color: rgba(201, 214, 223, 0.3);
}

.tint-d200-20 {
  background-color: rgba(201, 214, 223, 0.2);
}

.tint-d200-10 {
  background-color: rgba(201, 214, 223, 0.1);
}

/*D300*/

.tint-d300-90 {
  background-color: rgba(82, 97, 107, 0.9);
}

.tint-d300-80 {
  background-color: rgba(82, 97, 107, 0.8);
}

.tint-d300-70 {
  background-color: rgba(82, 97, 107, 0.7);
}

.tint-d300-60 {
  background-color: rgba(82, 97, 107, 0.6);
}

.tint-d300-50 {
  background-color: rgba(82, 97, 107, 0.5);
}

.tint-d300-40 {
  background-color: rgba(82, 97, 107, 0.4);
}

.tint-d300-30 {
  background-color: rgba(82, 97, 107, 0.3);
}

.tint-d300-20 {
  background-color: rgba(82, 97, 107, 0.2);
}

.tint-d300-10 {
  background-color: rgba(82, 97, 107, 0.1);
}

/*Shades*/

/*B100*/

.shade-b200-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--B200);
}

.shade-b200-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--B200);
}

.shade-b200-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--B200);
}

.shade-b200-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--B200);
}

.shade-b200-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--B200);
}

.shade-b200-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--B200);
}

.shade-b200-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--B200);
}

.shade-b200-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--B200);
}

.shade-b200-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--B200);
}

/*D400*/

.shade-d400-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--D400);
}

.shade-d400-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--D400);
}

.shade-d400-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--D400);
}

.shade-d400-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--D400);
}

.shade-d400-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--D400);
}

.shade-d400-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--D400);
}

.shade-d400-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--D400);
}

.shade-d400-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--D400);
}

.shade-d400-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--D400);
}

/*White*/

.shade-white-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--White);
}

.shade-white-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--White);
}

.shade-white-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--White);
}

.shade-white-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--White);
}

.shade-white-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--White);
}

.shade-white-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--White);
}

.shade-white-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--White);
}

.shade-white-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--White);
}

.shade-white-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--White);
}

/*B100*/

.shade-b100-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--B100);
}

.shade-b100-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--B100);
}

.shade-b100-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--B100);
}

.shade-b100-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--B100);
}

.shade-b100-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--B100);
}

.shade-b100-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--B100);
}

.shade-b100-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--B100);
}

.shade-b100-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--B100);
}

.shade-b100-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--B100);
}

/*R100*/

.shade-r100-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--R100);
}

.shade-r100-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--R100);
}

.shade-r100-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--R100);
}

.shade-r100-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--R100);
}

.shade-r100-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--R100);
}

.shade-r100-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--R100);
}

.shade-r100-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--R100);
}

.shade-r100-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--R100);
}

.shade-r100-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--R100);
}

/*G100*/

.shade-g100-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--G100);
}

.shade-g100-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--G100);
}

.shade-g100-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--G100);
}

.shade-g100-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--G100);
}

.shade-g100-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--G100);
}

.shade-g100-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--G100);
}

.shade-g100-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--G100);
}

.shade-g100-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--G100);
}

.shade-g100-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--G100);
}

/*D100*/

.shade-d100-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--D100);
}

.shade-d100-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--D100);
}

.shade-d100-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--D100);
}

.shade-d100-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--D100);
}

.shade-d100-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--D100);
}

.shade-d100-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--D100);
}

.shade-d100-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--D100);
}

.shade-d100-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--D100);
}

.shade-d100-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--D100);
}

/*D200*/
.shade-d200-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--D200);
}

.shade-d200-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--D200);
}

.shade-d200-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--D200);
}

.shade-d200-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--D200);
}

.shade-d200-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--D200);
}

.shade-d200-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--D200);
}

.shade-d200-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--D200);
}

.shade-d200-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--D200);
}

.shade-d200-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--D200);
}

/*D300*/

.shade-d300-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--D300);
}

.shade-d300-20 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--D300);
}

.shade-d300-30 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--D300);
}

.shade-d300-40 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--D300);
}

.shade-d300-50 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--D300);
}

.shade-d300-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--D300);
}

.shade-d300-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--D300);
}

.shade-d300-80 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--D300);
}

.shade-d300-90 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    var(--D300);
}

/*Shapes*/

/*Border*/
.border {
  border: 2px solid var(--D200);
  box-sizing: border-box;
}

.border-hard {
  border-radius: 0px;
}

.border-soft {
  border-radius: 8px;
}

.border-round {
  border-radius: 100px;
}

.border-soft-left {
  border-radius: 8px 0px 0px 8px;
}

.border-soft-right {
  border-radius: 0px 8px 8px 0px;
}

.border-round-left {
  border-radius: 100px 0px 0px 100px;
}

.border-round-right {
  border-radius: 0px 100px 100px 0px;
}

/*Border Style*/
.border-default {
  border: 2px solid var(--D200);
}

.border-active {
  border-color: var(--B200);
}

.border-success {
  border-color: var(--G100);
}

.border-error {
  border-color: var(--R100);
}

/*Patterns*/
.svg {
  background-color: var(--D400);
  width: 100%;
}

/*Effects*/

/* Drop shadows */

.shadow-100 {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.shadow-200 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.shadow-300 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.shadow-400 {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
}

/* Layer blur */

.layer-blur-1 {
  filter: blur(1px);
}

.layer-blur-2 {
  filter: blur(2px);
}

.layer-blur-3 {
  filter: blur(3px);
}

.layer-blur-4 {
  filter: blur(4px);
}

/*background-blur*/

.background-blur-1 {
  backdrop-filter: blur(4px);
}

.background-blur-2 {
  backdrop-filter: blur(8px);
}

.background-blur-3 {
  backdrop-filter: blur(16px);
}

.background-blur-4 {
  backdrop-filter: blur(24px);
}

/* Cover overlay */

.overlay-multiply {
  mix-blend-mode: multiply;
}

.overlay-burn {
  mix-blend-mode: color-burn;
}

.overlay-screen {
  mix-blend-mode: screen;
}

.overlay-hd-light {
  mix-blend-mode: hard-light;
}

.overlay-diff {
  mix-blend-mode: difference;
}

.overlay-color {
  mix-blend-mode: color;
}

/*tools*/
.tool {
  width: 100%;
  height: 100%;
}

.dribbble {
  content: url("tools/dribbble.svg");
}

.avocode {
  content: url("tools/avocode.svg");
}

.figma {
  content: url("tools/figma.svg");
}

.framer {
  content: url("tools/framer.svg");
}

.sketch {
  content: url("tools/sketch.svg");
}

.zeplin {
  content: url("tools/zeplin.svg");
}

