/*Font families*/

/*Open Sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

[open-sans] {
  font-family: "Open Sans", sans-serif;
}

[open-sans="light"] {
  font-weight: 300;
}

[open-sans="regular"] {
  font-weight: 400;
}

[open-sans="semi-bold"] {
  font-weight: 600;
}

[open-sans="bold"] {
  font-weight: 700;
}

[open-sans="extra-bold"] {
  font-weight: 800;
  color: red;
  
}

/*Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

[raleway] {
  font-family: "Raleway", sans-serif;
}

[raleway="light"] {
  font-weight: 300;
}

[raleway="medium"] {
  font-weight: 500;
}

[raleway="bold"] {
  font-weight: 700;
}
